.navigationList {
  list-style: none;
  padding: 1rem;
  margin-left: 3rem;
}

.navigationListContainer {
  width: 80%;
  margin: 0 2rem;
  position: relative;
  top: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .navigationList {
    margin-left: 0;
  }

  .navigationListContainer {
    width: 50%;
    margin: 0;
    top: 0rem;
    justify-content: center;
  }
}
