* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  /* colors */
  --primary-dark: #5c0475;
  --primary-light: #cc00a4;

  --grey-light: #e3e3e3;
  --grey-dark: #b6b6b6;

  /* fonts */
  --heading-primary: 'Raleway', sans-serif;
  --text-primary: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: var(--text-primary);
}

a,
a:active,
a:focus,
a:link,
a:visited {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide-in-enter {
  transform: translateX(-100%);
}
.slide-in-enter-active {
  transform: translateX(0);
  transition: all 0.5s;
}
.slide-in-exit {
  transform: translateX(0);
}
.slide-in-exit-active {
  transform: translateX(-100%);
  transition: all 0.5s;
}

@media (min-width: 768px) {
  .slide-in-enter {
    transform: translateY(-100%);
  }
  .slide-in-enter-active {
    transform: translateY(0);
  }
  .slide-in-exit {
    transform: translateY(0);
  }
  .slide-in-exit-active {
    transform: translateY(-100%);
  }
}
