.tile {
  height: 190px;
  margin: 1.5rem 1rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.tile__text-box {
  padding: 2rem;
  border: 0.7rem solid #fff;
  height: 110px;
  /* width: auto; */
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tile__text {
  font-family: var(--heading-primary);
  font-size: 7rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.tile__text-shrink {
  font-size: 5rem;
}

@media (min-width: 768px) {
  .tile {
    /* width: 45%; */
    height: 220px;
    flex-grow: 1;
    margin: 1rem 1rem;
  }
  .tile__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tile__text-box {
    border: none;
    background-color: #fff;
    width: auto;
  }

  .tile__text {
    color: transparent;
    background: linear-gradient(
      to right,
      var(--primary-dark),
      var(--primary-light)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
  }

  .tile__text-shrink {
    font-size: 7rem;
  }
}
